@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
.main{
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lavender;
}
p{
    font-size: 13px;
}
h5{
    font-size: 14px;
}
h4{
    font-size: 16px;
}
.main-container{
    height: 370px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 8px;
    background-color: white;
}
.main-container:hover{
    height: 365px;
    width: 235px;
}
img{
    height: 200px;
    width: 200px;
}
.desc{
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
}
.cart{
    padding: 10px;
    background-color: dodgerblue;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.cart:hover{
    padding: 11px;
}

@media (max-width:900px){
    .main{
        height: 100vh;
        width:100%;
        display: grid;
       grid-template-columns: auto auto;
        background-color: lavender;
    }
}

@media (max-width:500px){
    .main{
        height: auto;
        width:100%;
        display: grid;
        grid-template-columns: auto;
        background-color: lavender;
    }
    .main-container{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}